{% extends 'base.html' %}

{% comment %} static comes after extends base.html {% endcomment %}
{% load static %}  

{% block 'title' %}
    blog
{% endblock  %}

{% block 'css_file' %}
    <link rel="stylesheet" href="{% static 'blog/index.css' %}" />
    <link rel="stylesheet" href="{% static 'blog/post.css' %}"
{% endblock  %}

{% block 'content' %}
    
    
    <section id="welcome">
        <header>
            <img src="{% static 'blog/images/profile.jpeg' %}" alt="Subhash- The Author Of this Blog" />
            <h2> SUBHASH'S BLOG </h2>
        </header>
        <p> Hi, i am subhash and i post blog on tech related stuff</p>
    </section>

    <section id="latest-posts">
        <h2> My Latest Thoughts </h2>

        <ul>
            {% for post in posts %}
                {% include 'blog/include/post.html' %}
            {% endfor %}
        </ul>
    </section>

    <section id="about">
        <h2> what i do</h2>
        <p> {% lorem 1 b random %} </p>
    </section>
{% endblock  %}